/* .custom-toggle-button {
  background-color: #949EB0;
  border: none;
  color: white;
}

.custom-toggle-button.selected {
  background-color: #CD6675 !important;
}

.custom-toggle-button:not(.selected):hover {
  background-color: #7a8c9d !important;
} */